{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord{% endblock %}

{% block body %}
<div class="dashboard">

	<div class="profil_candidate">
		<h2>Mon profil</h2>
			<strong>Email :</strong>
			</li>

	<div class="ads_company"></div>
        <ul>
        <li><class="btn">Mon cv</li>
        </ul>
    </div>
</div>

{% endblock %}