$primary-color: #2A88B6;
$text-color: #0B2532;
$footer-color: #1A4C65;
$backgroundlogo-color: #C5E3F0;
$background-color:#FAFDFF;

$font-title: 'FontTitle';
$font-titlebold: 'FontTitleBold';
$font-text: 'FontText';
$font-textbold: 'FontTextBold';