{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<form action="{{ path('password_forgot_process') }}" method="POST">

    <h2>Mot de passe oublié ? </h2>

    <div>
        <label for="recovery-mail">Veuillez renseigner votre adresse mail de connexion afin de recevoir un mail de réinitialisation</label>
        <input type="email" id="recovery-mail" name="recovery-mail" placeholder="Entrez votre email" required>
    </div>

    <div>
        <button type="submit">Recevoir un lien </button>
    </div>

</form>

{% endblock %}