{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h2>Réinitialisation du mot de passe</h2>

<form action="{{ path('password_reset', { token: token }) }}" method="POST">
    <div>
        <label for="new_password">Nouveau mot de passe :</label>
        <input type="password" id="new_password" name="new_password" required>
    </div>
    <button type="submit">Modifier mon mot de passe</button>
</form>
{% endblock %}
